@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  width: 10px;
  border-radius: 20px;
  background: whitesmoke;
}
body::-webkit-scrollbar-thumb{
  background: salmon;
  border-radius: 20px;
}